
body {
    display: grid;
    place-items: center;
}
.grid-container {
    display: grid;
    padding: 0px;
    width: 400px;
    height: 500px;
    border: 5px solid gray;
  }
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  .invalid {
    border: 2px solid red;
  }
